.gallery-container {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
}

.gallery-heading{
    margin-top: 30px;
    text-align: center;
    gap: 10px;
}

.gallery-heading h2{
      font-size: 26px;
  margin-bottom: 1rem;
  color: #000000;
  text-align: center;
  font-weight: 400;
}

.gallery-heading p{
    color: grey;
}

.gallery-container h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.gallery-container p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 2rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.gallery-item img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}