*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.brown-button{
    background-color: #CFA477;
    color: #ffffff;
    border: none;
    padding: 16px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
}

.brown-button:hover{
    background-color: #cf9d69;
}