*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.food-card{
    width: auto;
    overflow: hidden;
    transition: transform 0.2s;
}
.food-card:hover{
    transform: translateY(-5px);
}       
.food-image{
    width: 100%;
    height: 307px;
    object-fit: cover;
}
.food-details{
    padding: 12px 0;
   margin: 7px 0;
   font-size: 14px;
   color: #d7ad59;
}

.food-details h3{
    font-size: 16px;
    font-weight: 500;
    color: black;

}

.food-details span{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    margin-top: 6px;
}

.food-card button{
    width: 100%;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .food-card{
        width: 100%;
    }
}