.about-heading {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}
.about-us {
 height: 60vh;
  width: 100%;
  padding: 1rem 40px;
}

.about-section {
  display: flex;
   justify-content: space-between;
  height: 50vh;
  width: 100%;
  margin-bottom: 70px;
}

.about-section p {
  display: inline-block;
  text-align: left;
}

.about-text{
    display: flex;
    align-items: center;
    width: 50%;
}

.about-section img {
  height: 100%;
  border-radius: 12px;
}
