.about-page h2{
  text-align: center;
  font-weight: 400;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  border-radius: 12px;
  gap: 2rem;
}

.about-text {
  flex: 1;
  color: #585757;
  font-family: "DM Sans", sans-serif;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #2c3e50;
}

.about-text p strong{
  font-weight: 500;
}
.about-text p {
 line-height: 1.6;
  margin-bottom: 1rem;
}

.about-image {
  flex: 1;
  text-align: center;
}

.about-image img {
  max-width: 100%;

}


@media (max-width: 1024px) {
  .about-container {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
  }

  .about-text {
    margin-right: 0;
  }

  .about-text p {
    font-size: 0.9rem;
  }

  .about-image img {
    border-radius: 8px;
  }
}
