.room-card {
  width: auto;
  background: #fff;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  min-width: 320px;
  flex-direction: column;
}

.room-photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.room-title {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.room-price {
  margin: 6px 0;
  font-size: 16px;
  color: #000000;
}

.amenities {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 10px 0 20px;
}

.amenity {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: #605f5f;
}

.room-card button{
  width: 100%;
  border-radius: 12px;
}
