.not-found{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.not-found div{
    display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 500px;
    padding: 0 60px;
    gap: 20px;
}
.not-found h1{
    font-size: 100px;
    color: grey;
}
.not-found p{
    font-size: 20px;
}

.not-found span{
    font-size: 16px;
    color: #888888;
}
.not-found pre{
    font-size: 16px;
    color: grey;
}