.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  background: url('/hero1.svg') center/cover no-repeat;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
}
.hero-content {
  max-width: 900px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 300;
  color: #000000;
  line-height: 1.05;
  margin: 0;
}

.hero p {
  margin-top: 1rem;
  font-size: 18px;
  color: #000000;
  line-height: 1.6;
}

.hero-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}


.btn-outline {
  padding: 0.9rem 1.6rem;
  text-decoration: none;
    font-size:16px;
    border-radius: 30px;
    color: #ffffff; 
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
    cursor: pointer;
  transition: background 0.25s ease, transform 0.12s ease;
  background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border: 1.5px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease;
}

.btn-outline:hover {
  background: rgba(255,255,255,0.32);
  transform: translateY(-2px);
}

/* Filled Button */
.btn-filled {
  padding: 0.9rem 1.6rem;
  border-radius: 40px;
  background: #cfa477; 
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  gap: 10px;
  transition: opacity 0.2s ease, transform 0.12s ease;
}

.btn-filled:hover {
  opacity: 0.95;
  transform: translateY(-2px);
}

/* Icon inside button */
.btn-icon {
  font-size: 25px;
  line-height: 1;
}

/* Responsive */
@media (max-width: 900px) {
  .hero {
    margin-top: 40px;
  }
  .hero h1 {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 70vh;
    padding: 0px 30px;
  }

  .hero h1 {
    font-size: 28px;
  }

  .hero p {
    font-size: 15px;
  }

  .hero-buttons {
    flex-direction: column;
    width: 100%;
  }

  .btn-outline,
  .btn-filled {
    width: 100%;
    justify-content: center;
  }
}
